.score,
.livesContainer {
  position: absolute;
  z-index: 20;

  font-size: 3rem;
  top: 1rem;
}
.score {
  left: 1rem;
  color: white;
}
.livesContainer {
  right: 4rem;
  .live {
    right: 1rem;
    color: gray;
    margin-right: 1rem;
  }

  .liveActive {
    color: red;
  }
}
